# Entorno Virtual Python
venv/
env/
.env

# Logs
logs/
*.log

# Cargas y Data Local
data/uploads/
data/temp/
temp_uploads/
data/uploads/**/*.csv
data/temp/**/*.csv

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
.pytest_cache/
.coverage

# Herramientas
.vscode/

# Frontend
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
